.Login {
  background-color: $bg-lvl-1;
  height: 100%;
  width: 100%;
  display: flex;
}

.Login-content {
  position: relative;
  top: -50px;
  margin: auto;
  max-width: 300px;
}

@-webkit-keyframes logoFadeInDown {
  from { transform: translateY(-30px); opacity: .5 }
  to { transform: translateY(0px); opacity: 1 }
}

.Login-logo {
  position: relative;
  width: 120px;
  display: block;
  margin: 0 auto 50px;
  animation: logoFadeInDown 1s ease-out forwards;
}

.Login-signinBtn {
  display: inline-block;
  position: relative;
  /* width: 120px; */
  /* height: 32px; */
  line-height: 2.6em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: $brand-info;
  color: white;
  padding: 0 1.2em;
  transition: all .1s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  &:hover {
    background-color: darken($brand-info, 5%);
  }

  &:active {
    background-color: darken($brand-info, 10%);
  }

  &:visited, &:active, &:focus, &:hover {
    color: white;
    text-decoration: none;
  }
}

@-webkit-keyframes footerFadeInUp {
  0% { transform: translateY(5px); opacity: 0 }
  100% { transform: translateY(0px); opacity: 1 }
}

.Login-footer {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 1em;
  height: 50px;
  opacity: 0;
  animation: footerFadeInUp 1s ease-in-out forwards;

  p {
    text-align: center;
    margin-bottom: .2em;
    font-size: .8em;
    color: #455A64;
  }
}

.Login-footer-heartIcon {
  color: #e61865;
  font-size: .9em;
  position: relative;
  top: .05em;
  margin: 0 .1em;
}
