.Main {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}

.Main-footer {
    display: flex;
    justify-content: space-between;
    padding: $std-el-distance $side-padding;
    box-sizing: content-box;
    min-height: 2.1em;
}
$cue-show-time: 15s;
$cue-delay: 2s;

.Main-footer-cues {
    font-size: 0.8em;
    position: relative;
    bottom: -.6em;
    color: $c-border;
    animation: fadeIn 1s $cue-delay both, fadeOut 1s ($cue-delay + $cue-show-time) forwards;
}

.Main-footer-accounts-wrapper {
    overflow: hidden;
    display: flex;

    &:hover .Main-footer-accounts {
        transform: translateX(0);
    }
}

.Main-footer-accounts {
    overflow: hidden;
    transform: translateX(100%);
    transition: all 0.4s cubic-bezier(.2,.54,0,.99);

    & > * {
        margin-right: 0.5em;
    }
}

.Main-footer-addAccount {}

.Main-footer-accounts-img {
    height: 30px;
    border-radius: $border-radius;
    opacity: 0.3;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;

    &:hover {
        opacity: 1;
        border-color: $brand-info;
    }
}

.Main-footer-accounts-img--selected {
    @extend .Main-footer-accounts-img;
    opacity: 1;
}
