.Timeline {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;

    a:active,
    a:focus,
    a:hover,
    a:visited {
        outline: 0;
        text-decoration: none;
    }
}

.Timeline-home,
.Timeline-mentions {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    transition: 0.3s cubic-bezier(.2,.54,0,.99);
    transform: translate3d(0, 0, 0);
    will-change: transform;
    @include custom-scrollbar();
}

.Timeline-mentions {
    left: 100%;
}

.Tweets {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.Tweets-error {
    position: fixed;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    z-index: 5;
    text-align: center;
    color: $brand-danger;
    padding: 0.5em;
    background-color: $bg-lvl-1;
    border: 1px solid $c-border;
    border-radius: $border-radius;
}

.Tweet {
    position: relative;
    background-color: $bg-light;
    margin-bottom: 0.5em;
    border: 6px solid $c-border;
    border-width: 0 6px;
    border-color: #90a4ae;
    padding: 1em;
    margin: 2em $side-padding;
    // transition: all .3s ease-out;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
// This is an experiment for later on.
// .Tweet--paper {
//   border: 0;
//   margin: 1em 1em;
//   padding: 1em;
//   font-weight: 300;
// }

.Tweet-retweet-info {
    margin-bottom: 0.5em;
    font-size: 0.8em;
    opacity: 0.8;
}

.Tweet-retweet-info-icons {
    background-color: #4CAF50;
    color: white;
    padding: 0.13em 0.26em;
    border-radius: 2px;
    font-weight: bold;
    margin-right: 0.3em;
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
}

.Tweet-body {
    display: flex;
    align-items: flex-start;
}

.Tweet-userImage {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin: 0.2em 0.5em 0 0;
    border-radius: $border-radius;
    border: 1px solid $c-border;
    background-color: $bg-lvl-2;
    user-select: none;
    background-image: url('../images/profile-placeholder.gif');
}

.Tweet-content {
    overflow: hidden;
    width: 100%;
}

.Tweet-content-header {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.Tweet-userInfoContainer {
    overflow: hidden;
    text-overflow: ellipsis;
}

.Tweet-userName {
    // color: $link-color;
    color: $txt-primary;
    font-weight: 500;
}

.Tweet-userHandler {
    opacity: 0.5;
    margin-left: 0.3em;
    color: inherit;
}

.Tweet-timeInfo {
    color: $txt-disabled;
    font-size: 0.8em;
    float: right;
    box-shadow: 0 0 6px 5px inherit;
    background-color: inherit;
}

.Tweet-text {
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
}

.Tweet-media {}

.Tweet-media-photo,
.Tweet-media-video {
    margin-top: 0.5em;
    max-width: 100%;
    border-radius: $border-radius;
}

.Tweet-media-video {
    background-image: url('../images/video-placeholder.png');
    background-size: cover;
    background-position: center;
}

.Tweet-quoted {
    position: relative;
    background-color: $bg-lvl-1;
    padding: 0.5em;
    border: 1px solid $bg-lvl-2;
    border-width: 0 0 0 6px;
    border-radius: 0;
    margin-top: 1em;
}

.Tweet-actions {
    display: flex;
    justify-content: space-around;
    padding-top: 0.5em;
    color: $txt-disabled;
    font-family: monospace;
    font-size: 0.9em;
    box-sizing: content-box;
    min-height: 2.5em;

    i {
        margin-right: 0.2em;
    }

    button {
        background-color: transparent;
        position: relative;
        @include custom-tooltip();

        &,
        &:active,
        &:focus,
        &:hover {
            border: none;
            outline: none;
        }
    }
}

.Tweet-actions-favourite {
    color: inherit;

    &:hover {
        color: $brand-danger;
    }

    &--favorited {
        color: $brand-danger;
    }
}

.Tweet-actions-reply,
.Tweet-actions-retweet {
    color: inherit;

    &:hover {
        color: $brand-info;
    }
}

.Tweet-actions-retweet--retweeted {
    color: $brand-info;
}

.Tweets-loadMore {
    display: block;
    margin: 2em auto 3em;
    background-color: $bg-lvl-3;

    &:hover {
        background-color: $bg-lvl-2;
    }
}
/* Loading bar */
.load-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #fdba2c;
    z-index: 1;

    .bar {
        content: "";
        display: inline;
        position: absolute;
        width: 0;
        height: 100%;
        left: 50%;
        text-align: center;
    }

    .bar:nth-child(1) {
        background-color: #da4733;
        animation: material-loading 2s linear infinite;
    }

    .bar:nth-child(2) {
        background-color: #3b78e7;
        animation: material-loading 2s linear 0.6s infinite;
    }

    .bar:nth-child(3) {
        background-color: #fdba2c;
        animation: material-loading 2s linear 1.25s infinite;
    }
}
@keyframes material-loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }

    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }

    to {
        left: 0;
        width: 100%;
    }
}

.Timeline-actions {
    display: flex;
    position: relative;
    width: 100%;
    background-color: $bg-lvl-1;
    border: 1px solid $c-border;
    border-width: 0;
    border-top-width: 1px;
    padding: $std-el-distance $side-padding;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @include clearfix();

    .btn {
        margin-right: $std-el-distance;
        text-transform: uppercase;

        &:last-child {
            margin-right: 0;
        }
    }
}

.Timeline-actions-route--selected {
    background-color: $bg-lvl-2;
}

.Timeline-sendBtn {
    margin-left: auto;
}
