.Timeline {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
}

.Timeline-home,
.Timeline-mentions {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  transition: .3s cubic-bezier(.2,.54,0,.99);
  transform: translate3d(0, 0, 0);
  will-change: transform;
  @include custom-scrollbar();
}

.Timeline-mentions {
  left: 100%;
}

.Tweets {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Tweets-error {
  position: fixed;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  z-index: 5;
  text-align: center;
  color: $brand-danger;
  padding: .5em;
  background-color: $bg-lvl-1;
  border: 1px solid $c-border;
  border-radius: $border-radius;
}

.Tweet {
  background-color: $bg-light;
  margin-bottom: .5em;
  border: 6px solid $c-border;
  border-width: 0 6px;
  padding: .5em .5em .2em;
  margin: 1em $side-padding;
  // transition: all .3s ease-out;
}

.Tweet-retweet-info {
  margin-bottom: .5em;
  font-size: .8em;
  opacity: .8;
}

.Tweet-retweet-info-icons {
  background-color: #4CAF50;
  color: white;
  padding: .13em .26em;
  border-radius: 2px;
  font-weight: bold;
  margin-right: .3em;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
}

.Tweet-body {
  display: flex;
  align-items: flex-start;
}

.Tweet-userImage {
  width: 48px;
  height: 48px;
  margin: .2em .5em 0 0;
  border-radius: $border-radius;
  border: 1px solid $c-border;
  user-select: none;
  background-image: url('../images/profile-placeholder.gif');
}

.Tweet-content {
  max-width: 285px;
}

.Tweet-userInfoContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Tweet-userName {
  color: $link-color;
}

.Tweet-userHandler {
  opacity: .5;
  margin-left: .3em;
  color: inherit;
}

.Tweet-text {
  margin: 0;
  word-break: break-word;
  word-wrap: break-word;
}

.Tweet-media {
}

.Tweet-media-video,
.Tweet-media-photo {
  margin-top: .5em;
  max-width: 100%;
  border-radius: $border-radius;
}

.Tweet-media-video {
  background-image: url('../images/video-placeholder.png');
  background-size: cover;
  background-position: center;
}

.Tweet-actions {
  display: flex;
  justify-content: space-around;
  padding-top: .5em;
  color: $txt-disabled;
  font-family: monospace;
  font-size: .9em;

  i {
    margin-right: .2em;
  }

  button {
    background-color: transparent;
    position: relative;
    @include custom-tooltip();

    &, &:hover, &:active, &:focus {
      border: none;
      outline: none;
    }
  }
}



.Tweet-actions-favourite {
  color: inherit;

  &:hover {
    color: $brand-danger;
  }

  &--favorited {
    color: $brand-danger;
  }
}

.Tweet-actions-retweet,
.Tweet-actions-reply {
  color: inherit;
  &:hover {
    color: $brand-info;
  }
}

.Tweet-actions-retweet--retweeted {
  color: $brand-info;
}

.Tweets-loadMore {
  display: block;
  margin: 2em auto 3em;
  background-color: $bg-lvl-3;

  &:hover {
    background-color: $bg-lvl-2;
  }
}

/* Loading bar */

.load-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
  z-index: 1;


  .bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
  }

  .bar:nth-child(1) {
    background-color: #da4733;
    animation: material-loading 2s linear infinite;
  }

  .bar:nth-child(2) {
    background-color: #3b78e7;
    animation: material-loading 2s linear .6s infinite;
  }

  .bar:nth-child(3) {
    background-color: #fdba2c;
    animation: material-loading 2s linear 1.25s infinite;
  }
}

@keyframes material-loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}

.Timeline-actions {
  display: block;
  position: relative;
  width: 100%;
  background-color: $bg-lvl-1;
  border: 1px solid $c-border;
  border-width: 0;
  border-top-width: 1px;
  padding: $std-el-distance $side-padding;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  @include clearfix();

  .btn {
    margin-right: $std-el-distance;

    &:last-child {
      margin-right: 0;
    }
  }
}

.Timeline-actions-left {
  float: left;
}

.Timeline-actions-right {
  float: right;
}

.Timeline-actions-route--selected {
  background-color: $bg-lvl-2;
}

.Timeline-sendBtn {
}
