.Timelines {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}

.Timelines-footer {
    display: flex;
    justify-content: space-between;
    padding: $std-el-distance $side-padding;
    box-sizing: content-box;
    min-height: 2.1em;
}
$cue-show-time: 6s;
$cue-delay: 2s;

.Timelines-footer-cues {
    font-size: 0.8em;
    position: relative;
    bottom: -.6em;
    color: $c-border;
    animation: fadeIn 1s $cue-delay both, fadeOut 1s ($cue-delay + $cue-show-time) forwards;
}
