.TweetBar {
  background-color: $bg-lvl-1;
  border: 1px solid $c-border;
  border-width: 0;
  border-top-width: 1px;
  padding: 4px $side-padding 1em;
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 0 10px $c-border;

  transition: all .3s ease-in-out;
	position: relative;
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0.13);
    // 0 0 40px rgba(0, 0, 0, 0.05) inset;
}

.TweetBar-actions {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 10px;
}

.TweetBar-sendBtn {
  margin-left: auto;
}

.TweetBar-textBox {
  padding: .5em 7px;
  width: 100%;
  resize: none;
  height: 8em;
  background-color: white;
  border: 1px solid $c-border;
  border-radius: 2px;
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
}

.TweetBar-textBox-charCount {
  color: $link-color;
  font-weight: bold;
  padding: .1em;
  font-size: 1.1em;
  border-radius: 3px;
  color: $bg-light;

  > * {
    padding: .2em .3em;
    border-radius: 3px;
    min-width: 2.5em;
    text-align: center;
    display: inline-block;
  }

  .enough {
    background-color: $brand-info;
  }

  .quite-a-few {
    background-color: $brand-warning;
  }

  .few-left {
    background-color: $brand-danger;
  }

  .too-much {
    color: $bg-light;
    background-color: $brand-danger;
  }
}

.TweetBar-textBox-input {
  padding: 0 7px;
  width: 100%;
  border: 0;
  resize: none;

  &:active,
  &:focus,
  &:hover {
    outline: 0;
  }
}

.TweetBar-loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 2.5em;
}

.TweetBar-suggestions {
  position: absolute;
  left: 0;
  bottom: 150px;
  padding: .5em 0;
  width: 100%;
  border-top: 5px solid #009688;
  background-color: inherit;
}

.TweetBar-suggestions-option {
  padding: .5em calc(#{$side-padding} + .2em);
  user-select: none;
  cursor: pointer;

  & > * {
    margin-right: .5em;
  }

  &:hover {
    background-color: $bg-lvl-2;
  }

  &:active {
    background-color: $bg-lvl-3;
  }
}

.TweetBar-suggestions-option--selected {
  @extend .TweetBar-suggestions-option;
  background-color: #e91e63;
}

.TweetBar-suggestions-option-image {
  border-radius: 3px;
  height: 2em;
}

.TweetBar-suggestions-option-name {
  font-weight: bold;
}
