.Tweets {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: $bg-lvl-1;
  @include custom-scrollbar();
}

.Tweets-error {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  text-align: center;
  color: $brand-danger;
  padding: .5em;
  background-color: $bg-lvl-1;
  border: 1px solid $c-border;
  border-radius: $border-radius;
}

.Tweet {
  background-color: $bg-light;
  margin-bottom: .5em;
  border: 6px solid $c-border;
  border-width: 0 6px;
  padding: .5em .5em 1em;
  margin: 1em $side-padding;
  transition: all .3s ease-out;
}

.Tweet-body {
  display: flex;
  align-items: flex-start;  
}

.Tweet-userImage {
  margin: .2em .5em 0 0;
  border-radius: $border-radius;
  border: 1px solid $c-border;
  user-select: none;
}

.Tweet-content {
  width: 100%;
}

.Tweet-userInfoContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Tweet-userName {
  color: $link-color;
}

.Tweet-userHandler {
  opacity: .5;
  margin-left: .3em;
  color: inherit;
}

.Tweet-text {
  margin: 0;
  word-break: break-word;
  word-wrap: break-word;
}

.Tweet-media {
}

.Tweet-media-video,
.Tweet-media-photo {
  margin-top: .5em;
  max-width: 100%;
  border-radius: $border-radius;
}

.Tweet-actions {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  color: $txt-disabled;
  font-family: monospace;

  i {
    margin-right: .2em;
  }
}

.Tweet-actions-favourite {
  color: inherit;
  &:hover {
    color: $brand-danger;
  }
}

.Tweet-actions-retweet,
.Tweet-actions-reply {
  color: inherit;
  &:hover {
    color: $brand-info;
  }
}

/* Loading bar */

.load-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;


  .bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
  }

  .bar:nth-child(1) {
    background-color: #da4733;
    animation: material-loading 2s linear infinite;
  }

  .bar:nth-child(2) {
    background-color: #3b78e7;
    animation: material-loading 2s linear .6s infinite;
  }

  .bar:nth-child(3) {
    background-color: #fdba2c;
    animation: material-loading 2s linear 1.25s infinite;
  }
}

@keyframes material-loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
