.TweetBar {
  background-color: $bg-lvl-1;
  border: 1px solid $c-border;
  border-width: 0;
  border-top-width: 1px;
  padding: 4px $side-padding 1em;
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 0 10px $c-border;

  transition: all .3s ease-in-out;
	position: relative;
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0.13);
    // 0 0 40px rgba(0, 0, 0, 0.05) inset;
}

.TweetBar-actions {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 10px;
}

.TweetBar-sendBtn {
  margin-left: auto;
}

.TweetBar-textBox {
  padding: .5em 7px;
  width: 100%;
  resize: none;
  height: 8em;
  background-color: white;
  border: 1px solid $c-border;
  border-radius: 2px;
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
}

.TweetBar-textBox-charCount {
  color: $link-color;
  font-weight: bold;
  padding: .1em;
  font-size: 1.1em;
  border-radius: 3px;
  color: $bg-light;

  > * {
    padding: .2em .3em;
    border-radius: 3px;
    min-width: 2.5em;
    text-align: center;
    display: inline-block;
  }

  .enough {
    background-color: $brand-info;
  }

  .quite-a-few {
    background-color: $brand-warning;
  }

  .few-left {
    background-color: $brand-danger;
  }

  .too-much {
    color: $bg-light;
    background-color: $brand-danger;
  }
}

.TweetBar-textBox-inputContainer {
  position: relative; // It will contain the display and input elements
  width: 100%;
}

.TweetBar-textBox-input,
.TweetBar-textBox-display {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  resize: none;
  border: 0;
  padding: 0 7px;
  width: 100%;
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  &:active,
  &:focus,
  &:hover {
    outline: 0;
  }
}

.TweetBar-textBox-input {
  color: inherit;
  -webkit-text-fill-color: transparent;

  // So that our placeholder text still appears
  &::-webkit-input-placeholder{
    text-shadow: none;
    -webkit-text-fill-color: initial;
  }
}

.TweetBar-loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 2.5em;
}

.TweetBar-suggestions {
  position: absolute;
  left: 0;
  bottom: 150px;
  padding: 0;
  width: 100%;
  border-top: 5px solid #673AB7;
  background-color: inherit;
  transition: all .2s ease-in-out;

}

.TweetBar-suggestions--loading {
  @extend .TweetBar-suggestions;
  min-height: 229px;
  display: flex;
}

.TweetBar-suggestions-option {
  padding: .5em calc(#{$side-padding} + .2em);
  user-select: none;
  cursor: pointer;

  & > * {
    margin-right: .5em;
  }

  &:hover {
    background-color: $bg-lvl-2;
  }

  &:active {
    background-color: $bg-lvl-3;
  }
}

.TweetBar-suggestions-option--selected {
  @extend .TweetBar-suggestions-option;
  @extend .TweetBar-suggestions-option:hover;
}

.TweetBar-suggestions-option-image {
  border-radius: 3px;
  height: 1.7em;
}

.TweetBar-suggestions-option-name {
}

.TweetBar-suggestions-option-screenName {
  position: relative;
  background-color: $bg-lvl-2;
  padding: .2em .5em .2em .45em;
  border-radius: 3px;
  border: 1px solid $c-border;
  font-size: .9em;
  font-weight: lighter;
  // float: right;
  transition: all .1s ease-in-out;

  .TweetBar-suggestions-option:hover &,
  .TweetBar-suggestions-option--selected:hover & {
    background-color: $bg-lvl-1;
  }

  .TweetBar-suggestions-option--selected & {
    zoom: 110%;
    top: -1px;
  }
}
