.TweetBar {
  background-color: $bg-lvl-1;
  border: 1px solid $c-border;
  border-width: 0;
  border-top-width: 1px;
  padding: 4px 1em 1em;
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 0 10px $c-border;

  transition: all .3s ease-in-out;
	position: relative;
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0.13);
    // 0 0 40px rgba(0, 0, 0, 0.05) inset;
}

.TweetBar-actions {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 10px;
}

.TweetBar-sendBtn {
  margin-left: auto;
}

.TweetBar-textBox {
  padding: .5em 7px;
  width: 100%;
  resize: none;
  height: 8em;
  background-color: white;
  border: 1px solid $c-border;
  border-radius: 2px;
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
}

.TweetBar-textBox-charCount {
  color: $link-color;
  font-weight: bold;
  padding: .1em;
  font-size: 1.1em;
  border-radius: 3px;
  color: $bg-light;

  > * {
    padding: .2em .3em;
    border-radius: 3px;
    min-width: 2.5em;
    text-align: center;
    display: inline-block;
  }

  .enough {
    background-color: $brand-info;
  }

  .quite-a-few {
    background-color: $brand-warning;
  }

  .few-left {
    background-color: $brand-danger;
  }

  .too-much {
    color: $bg-light;
    background-color: $brand-danger;
  }
}

.TweetBar-textBox-input {
  padding: 0 7px;
  width: 100%;
  border: 0;
  resize: none;

  &:active,
  &:focus,
  &:hover {
    outline: 0;
  }
}

.TweetBar-loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 2.5em;
}
// ======================== LOADING ANIMATION ========================

$offset: 187;
$duration: 1.4s;

.TweetBar-loading-spinner {
  animation: rotator $duration linear infinite;
  height: 35px;
  width: 35px;
  margin: auto;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.TweetBar-loading-spinner-path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: loading-dash $duration ease-in-out infinite,
             loading-colors ($duration * 4) ease-in-out infinite;
}

@keyframes loading-colors {
  0% { stroke: $brand-info; }
	25% { stroke: $brand-danger; }
	50% { stroke: $brand-warning; }
	75% { stroke: $brand-success; }
  100% { stroke: $brand-info; }
}

@keyframes loading-dash {
  0% { stroke-dashoffset: $offset; }
  50% {
    stroke-dashoffset: $offset / 4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

// ======================== END OF LOADING ANIMATION ========================
// ======================== SUCCESS ANIMATION ========================

.TweetBar-loading-tick {
  stroke-dasharray: 160;
  stroke-dashoffset: 60;
  margin: auto;
  transform-origin: center;
  transform: scale(.85);
  animation: loading-tick 2.5s linear forwards;
}

@keyframes loading-tick {
  from {
    stroke-dashoffset: 160;
  }
  to {
    stroke-dashoffset: -160;
  }
}

// ======================== END OF SUCCESS ANIMATION  ========================
// ======================== FAILURE ANIMATION ========================

$stroke-size: 100;
$dasharray: 200;

.TweetBar-loading-cross {
  margin: auto;
  stroke-dasharray: $dasharray;
  stroke-dashoffset: 2 * $stroke-size;
  transform: scale(.6);
  stroke-width: 6;
}

.TweetBar-loading-cross-first {
  animation: loading-cross 1.7s linear infinite .3s;
}

.TweetBar-loading-cross-second {
    animation: loading-cross 2s linear infinite;
}

@keyframes loading-cross {
  from {
    stroke-dashoffset: 2 * $stroke-size;
  }
  to {
    stroke-dashoffset: -$stroke-size;
  }
}
// ======================== END OF FAILURE ANIMATION  ========================

.TweetBar-loading-error {
  color: $brand-danger;
  text-align: center;
}
