.Tweets {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: $bg-lvl-1;
  @include custom-scrollbar();
}

.Tweets-error {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  text-align: center;
  color: $brand-danger;
  padding: .5em;
  background-color: $bg-lvl-1;
  border: 1px solid $c-border;
  border-radius: 3px;
}

.Tweet {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  align-items: flex-start;
  background-color: $bg-light;
  margin-bottom: .5em;
  border: 6px solid $c-border;
  border-width: 0 6px;
  padding: .5em .5em 1em;
  margin: 1em 1em;
  transition: box-shadow .3s ease-out;

  &:hover {
    background-color: #fafafa;
    box-shadow: 0 0 10px #aaa;
  }
}

.Tweet-userImage {
  margin: .2em .5em 0 0;
  border-radius: 3px;
  border: 1px solid $c-border;
}

.Tweet-userInfoContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Tweet-userName {
  color: $link-color;
}

.Tweet-userHandler {
  opacity: .5;
  margin-left: .3em;
  color: inherit;
}

.Tweet-text {
  margin: 0;
}
